# jupyter
transformer_uda/.ipynb_checkpoints
.ipynb_checkpoints

__pycache__/
connect_later/__pycache__/
connectivity/__pycache__/

# packaging
*.egg-info

# old files
OLD/
figures/
configs/old/
connect_later/old/

# other packages
targeted_augs/

# wandb
wandb/
transformer_uda/wandb/

# slurm outputs
**/slurm*
