#!/bin/bash
# ??? REPLACE_NTASK',   'REPLACE_CPU_PER_TASK' ???

#SBATCH -J REPLACE_NAME
#SBATCH -q shared
#SBATCH -A m1727
#SBATCH -N 1
#SBATCH -n 1
#SBATCH -t REPLACE_WALLTIME
#SBATCH -L SCRATCH,cfs
#SBATCH -C cpu
#SBATCH --output=REPLACE_LOGFILE
#SBATCH --error=REPLACE_LOGFILE
#SBATCH --mem-per-cpu=REPLACE_MEM

echo $SLURM_JOB_ID starting execution `date` on `hostname`

REPLACE_JOB
